@{
    ViewBag.Title = "Styles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Home/Styles" method="post" name="StylesGenerator" id="StylesGenerator">
     
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">

           
            <fieldset>
                <legend>Styles</legend>
                <p>Div color:</p><br>
                <select name="PickBodyColor" id="PickBodyColor" onchange="javascript:generateStyle();">
                    @foreach (var item in ViewBag.PickBodyColorDropDown)
                    {
                    <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <p>Body text size:</p><br>
                <select name="PickBodyTextSize" id="PickBodyTextSize" onchange="javascript:generateStyle();">
                    @foreach (var item in ViewBag.PickBodyTextSizeDropDown)
                    {
                    <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <p>Heading text:</p><br>
                <input type="text" name="HeadingText" value="Some Span Text" onkeyup="javascript:generateStyle();">
                <p>Heading text color:</p><br>
                <select name="HeadingTextColor" id="HeadingTextColor" onchange="javascript:generateStyle();">
                    @foreach (var item in ViewBag.HeadingTextColorDropDown)
                    {
                    <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <p>Paraprah text:</p><br>
                <input type="text" name="ParagraphText" value="Some Paragraph Text" onkeyup="javascript:generateStyle();">
                <p>Paragraph text color:</p><br>
                <select name="ParagraphTextColor" id="ParagraphTextColor" onchange="javascript:generateStyle();">
                    @foreach (var item in ViewBag.ParagraphTextColorDropDown)
                    {
                    <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
            </fieldset>
            <textarea name="generatedCode" id="generatedCode"></textarea>
        </div>
    </div>
</form>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateStyle();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>