
<div id="mainTargetId">
    @using (Ajax.BeginForm("PartialMain", "Home", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "mainTargetId"
    },
                               new { name = "MainGenerator", id = "MainGenerator" }))
    {
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <div style="color: green; font-weight: bold">
                @TempData["style"]
            </div>
            <div style="color: red; font-weight: bold">
                @TempData["count"]
            </div><br />
            <fieldset>
                <legend>Main</legend>
                <p>Section text:</p><br>
                @if (ViewBag.main != null)
                {
                <input type="text" name="SectionText" value="@ViewBag.main.String1" onkeyup="javascript:generateMain();">
                }
                else
                {
                <input type="text" name="SectionText" value="This is the Section" onkeyup="javascript:generateMain();">
                }
                
                <p>Article text:</p><br>
                @if (ViewBag.main != null)
                {
                <input type="text" name="ArticleText" value="@ViewBag.main.String2" onkeyup="javascript:generatedMain();">
                }
                else
                {
                <input type="text" name="ArticleText" value="This is the Article" onkeyup="javascript:generatedMain();">
                }
                
                <p>Aside text:</p><br>
                @if (ViewBag.main != null)
                {
                <input type="text" name="AsideText" value="@ViewBag.main.String3" onkeyup="javascript:generatedMain();">
                }
                else
                {
                <input type="text" name="AsideText" value="This is the Aside" onkeyup="javascript:generatedMain();">
                }
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
        <div class="col-lg-11 panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @if ((ViewBag.CountMain < 5) || (ViewBag.main != null))
                {
                <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-right" onclick="return false;">Copy Code</button></div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <input type="submit" value="Save" class="btn btn-success pull-left" />
                </div>
                    }
                    else
                    {
                    <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-left" onclick="return false;">Copy Code</button></div>
                    }
                    <br /><br />
                    <textarea name="generatedCode" id="generatedCode"></textarea>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateMain();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>