
<div id="navigationTargetId">
    @using (Ajax.BeginForm("PartialNavigation", "Home", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "navigationTargetId"
    },
                               new { name = "NavGenerator", id = "NavGenerator" }))
    {
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <div style="color: green; font-weight: bold">
                @TempData["style"]
            </div>
            <div style="color: red; font-weight: bold">
                @TempData["count"]
            </div><br />
            <fieldset>
                <legend>Navigation</legend>
                <p>Nav text:</p><br>
                @if (ViewBag.navigation != null)
                {
                <input type="text" name="NavText" value="@ViewBag.navigation.String1" onkeyup="javascript:generateNav();">
                }
                else
                {
                <input type="text" name="NavText" value="This is the Navigation" onkeyup="javascript:generateNav();">
                }
                
                <p>Nav background color:</p><br>
                <select name="PickNavColor" id="PickNavColor" onchange="javascript:generateNav();">
                    @foreach (var item in ViewBag.PickNavColor)
                    {
                        if (ViewBag.navigation != null)
                        {
                        <option value="@item.Value" @(item.Value == ViewBag.navigation.String2 ? "selected='selected'" : "")>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <p>Nav background hover color:</p><br>
                <select name="PickNavHoverColor" id="PickNavHoverColor" onchange="javascript:generateNav();">
                    @foreach (var item in ViewBag.PickNavHoverColor)
                    {
                        if (ViewBag.navigation != null)
                        {
                        <option value="@item.Value" @(item.Value == ViewBag.navigation.String3 ? "selected='selected'" : "")>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
        <div class="col-lg-11 panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @if ((ViewBag.CountNavigation < 5) || (ViewBag.navigation != null))
                {
                <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-right" onclick="return false;">Copy Code</button></div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <input type="submit" value="Save" class="btn btn-success pull-left" />
                </div>
                    }
                    else
                    {
                    <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-left" onclick="return false;">Copy Code</button></div>
                    }
                    <br /><br />
                    <textarea name="generatedCode" id="generatedCode"></textarea>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/javascript")

<script>
    document.getElementsByTagName('body').onload = generateNav();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>