
<div id="footerTargetId">
    @using (Ajax.BeginForm("PartialFooter", "Home", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "footerTargetId"
    },
                               new { name = "FooterGenerator", id = "FooterGenerator" }))
    {
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <div style="color: green; font-weight: bold">
                @TempData["style"]
            </div>
            <div style="color: red; font-weight: bold">
                @TempData["count"]
            </div><br />
            <fieldset>
                <legend>Footer</legend>
                <p>Footer text:</p><br>
                @if (ViewBag.footer != null)
                {
                <input type="text" name="FooterText" value="@ViewBag.footer.String1" onkeyup="javascript:generateFooter();">
                }
                else
                {
                <input type="text" name="FooterText" value="This is the Footer" onkeyup="javascript:generateFooter();">
                }
                <p>Footer background color:</p><br>
                <select name="FooterColor" id="FooterColor" onchange="javascript:generateFooter();">
                   @foreach (var item in ViewBag.FooterColor)
                   {
                       if (ViewBag.footer != null)
                       {
                    <option value="@item.Value" @(item.Value == ViewBag.footer.String2 ? "selected='selected'" : "")>@item.Text</option>
                       }
                       else
                       {
                    <option value="@item.Value">@item.Text</option>
                       }
                   }
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
        <div class="col-lg-11 panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @if ((ViewBag.CountFooter < 5) || (ViewBag.footer != null))
                {
                <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-right" onclick="return false;">Copy Code</button></div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <input type="submit" value="Save" class="btn btn-success pull-left" />
                </div>
                    }
                    else
                    {
                    <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-left" onclick="return false;">Copy Code</button></div>
                    }
                    <br /><br />
                    <textarea name="generatedCode" id="generatedCode"></textarea>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/javascript")

<script>
    document.getElementsByTagName('body').onload = generateFooter();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>