@model HTMLGeneratorMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="col-md-6 panel panel-default">
    <div class="panel-body">

        <h2 class="text-center text-danger">Change your account settings</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
            {
            @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                    @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                
            </dl>
            <dl class="dl-horizontal">
                <dt>Delete Account:</dt>
                <dd>
                    [ @Html.ActionLink("Remove account", "DeleteAccount") ]
                </dd>

            </dl>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/javascript")