
<div id="orderedListTargetId">
    @using (Ajax.BeginForm("PartialOrderedList", "Home", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "orderedListTargetId"
    },
                               new { name = "ListsGenerator", id = "ListsGenerator" }))
    {
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <div style="color: green; font-weight: bold">
                @TempData["style"]
            </div>
            <div style="color: red; font-weight: bold">
                @TempData["count"]
            </div><br />
            <fieldset>
                <legend>Customize an ordered list</legend>
                <p>List Text:</p><br>
                @if (ViewBag.orderedList != null)
                {
                <input type="text" name="ListText" value="@ViewBag.orderedList.String1" onkeyup="javascript:generateList1();">
                }
                else
                {
                <input type="text" name="ListText" value="List Item" onkeyup="javascript:generateList1();">
                }
                <p>Ordered List Style Type:</p><br>
                <select name="OlstyleType" id="OlstyleType" onchange="javascript:generateList1();">
                    @foreach (var item in ViewBag.OlstyleType)
                    {
                        if (ViewBag.orderedList != null)
                        {
                        <option value="@item.Value" @(item.Value == ViewBag.orderedList.String2 ? "selected='selected'" : "")>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
        <div class="col-lg-11 panel panel-default">
            <div class="panel-body">
                <div class="row">
                   @{ int count = 0;}
                @foreach (var item in ViewBag.MyListCount as List<int>)
                {
                    if ((item < 5) || (ViewBag.style != null))
                    {
                        count++;
                        <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-right" onclick="return false;">Copy Code</button></div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <input type="submit" value="Save" class="btn btn-success pull-left" />
                        </div>
                        break;
                    }

                }
                @if (count == 0)
                {
                <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-left" onclick="return false;">Copy Code</button></div>
                }
                    <br /><br />
                    <textarea name="generatedCode" id="generatedCode"></textarea>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/javascript")

<script>
    document.getElementsByTagName('body').onload = generateList1();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>