
<div id="paragraphTargetId">
    @using (Ajax.BeginForm("PartialParagraphs", "Home", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "paragraphTargetId"
    },
                       new { name = "ParagraphGenerator", id = "ParagraphGenerator" }))
    {
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <div style="color: green; font-weight: bold">
                @TempData["style"]
            </div>
            <div style="color: red; font-weight: bold">
                @TempData["count"]
            </div><br />
            <fieldset>
                <legend>Customize a paragraph</legend>
                <p>Enter text on one or more lines:</p><br>
                @if (ViewBag.Paragraph != null)
                {
                <textarea id="paragraphCode" name="ParagraphText" onkeyup="javascript:generateParagraph();">@ViewBag.Paragraph.String1</textarea>
                }
                else
                {
                <textarea id="paragraphCode" name="ParagraphText" onkeyup="javascript:generateParagraph();">Hello, I'm a paragraph!</textarea>
                }
                <p>Style:</p><br>
                <select name="ParagraphStyle" id="ParagraphStyle" onchange="javascript:generateParagraph();">
                    @foreach (var item in ViewBag.ParagraphStyle)
                    {
                        if (ViewBag.Paragraph != null)
                        {
                        <option value="@item.Value" @(item.Value == ViewBag.Paragraph.String2 ? "selected='selected'" : "")>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </fieldset>
        </div>
    </div>
        <div class="col-lg-5 panel panel-default" id="preview">
            <div class="panel-body">
                <fieldset>
                    <legend>Preview</legend>
                    <div id="displayResult">
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-11 panel panel-default">
            <div class="panel-body">
                <div class="row">

                  @{ int count = 0;}
                @foreach (var item in ViewBag.MyListCount as List<int>)
                {
                    if ((item < 5) || (ViewBag.style != null))
                    {
                        count++;
                        <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-right" onclick="return false;">Copy Code</button></div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <input type="submit" value="Save" class="btn btn-success pull-left" />
                        </div>
                        break;
                    }

                }
                @if (count == 0)
                {
                <div class="col-xs-6 col-sm-9 col-md-9"><button class="btn btn-info pull-left" onclick="return false;">Copy Code</button></div>
                }
                    <br /><br />
                    <textarea class="paragraph-area" name="generatedCode" id="generatedCode" onclick="this.focus();this.select()"></textarea>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateParagraph();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>