@model HTMLGeneratorMVC.Models.UserModel
@{
    ViewBag.Title = "Administration";
}

@Styles.Render("~/css/autocomplete")

<div id="targetBackOrCreateId">
    <div class="col-md-6 panel panel-default">
        <div class="panel-body">

            @using (Ajax.BeginForm("Create", "Administration", new AjaxOptions()
            {
                UpdateTargetId = "targetBackOrCreateId",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST"
            }, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
                <h3 class="text-center text-danger">Create a new account.</h3>
                <hr /><br />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-3 control-label">Email*</div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <span class="text-center text-danger">@TempData["emailValidation"]</span>
                        <span class="text-center text-danger">@TempData["email"]</span>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-3 control-label">First Name*</div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        <span class="text-center text-danger">@TempData["firstName"]</span>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-3 control-label">Last Name*</div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        <span class="text-center text-danger">@TempData["lastName"]</span>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-3 control-label">Genter*</div>
                    <div class="col-md-4">
                        @if (TempData["genter"] != null)
                        {
                        <h2 class="text-center text-danger">@TempData["genter"]</h2>
                        }
                        <fieldset>
                            <select name="genter" id="genter" class="form-control">
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-3 control-label">Password*</div>
                    <div class="col-md-8">
                        @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control" })
                        <span class="text-center text-danger">@TempData["password"]</span>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-xs-8 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-warning" value="Register" />
                    </div>
                </div>
                <br />
            }
            @Ajax.ActionLink("Back", "PartialIndex",
                      new AjaxOptions
                      {
                          InsertionMode = InsertionMode.Replace,
                          HttpMethod = "Get",
                          UpdateTargetId = "targetBackOrCreateId"
                      })
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryunob")
@Scripts.Render("~/bundles/javascript")
@Scripts.Render("~/js/autocomplete")
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchBy").autocomplete({
            source: '@Url.Action("GetTitleAndCategory")'
        });
    });

    function DeleteAllCheckBoxes(obj) {
        var c = new Array();
        c = document.getElementsByClassName('deleteAll');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox') {
                c[i].checked = obj.checked;
            }
        }
    }

    $('input[id="checkboxId"]').change(function () {
        var submitBtn = $('#checkBtnId');
        if ($('input[id="checkboxId"]:checked').length > 0) {
            submitBtn.show();
            return true;
        } else {
            submitBtn.hide();
        }
    });
</script>