@model HTMLGeneratorMVC.Models.Style

@{
    ViewBag.Title = "Rename";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/autocomplete")

<div id="ajaxBackOrRenameId">
    <div class="col-xs-12 col-sm-6 col-md-5  panel panel-default">
        <div class="panel-body">
            <h2 class="text-center text-success">Change the Title</h2>

            @using (Ajax.BeginForm("RenameButtons", "Administration", new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ajaxBackOrRenameId"
            }))
            {
            @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-xs-2 col-sm-2 col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control col-xs-8 col-sm-8 col-md-8" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-5 col-sm-3 col-md-3">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                        <div class="col-xs-6 col-sm-9 col-md-9">
                            <button type="button" class="btn btn-warning pull-left">
                                @Ajax.ActionLink("Back", "PartialDetails", new { userId = Model.Id },
                      new AjaxOptions
                      {
                          UpdateTargetId = "ajaxBackOrRenameId",
                          InsertionMode = InsertionMode.Replace,
                          HttpMethod = "Get"
                      })
                            </button>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryunob")
@Scripts.Render("~/bundles/javascript")
@Scripts.Render("~/js/autocomplete")